* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --default-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --block-bg-color: var(--tg-theme-bg-color);
  --bg-color: #ebedf0;
  --animation: .15s ease;
  --page-animation-duration: .3s;
  --page-animation: var(--page-animation-duration) ease;
  --status-height: 48px;
  --accent-color: #31b545;
  --main-color: #f8a917;
  --text-color: #222;
  --page-hint-color: #83878a;
  --hint-color: #74787a;
  --placeholder-color: #999da1;
  --ripple-duration: .45s;
  --ripple-end-duration: .3s;
  --border-color: #000;
}
body {
  font-family: var(--default-font);
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  background-color: var(--block-bg-color);
  color: var(--text-color);
  color-scheme: var(--tg-color-scheme);
  margin: 0;
  padding: 0;
  width: 1px;
  min-width: 100%;
  user-select: none;
  cursor: default;
  -webkit-user-select: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  :root {
    --block-bg-color: var(--tg-theme-bg-color);
    --bg-color: #0f0f0f;
    --text-color: #fff;
    --page-hint-color: #9b9ba1;
    --hint-color: #64666d;
    --placeholder-color: #5d6163;
    --border-color: #fff;
  }
}

html.dark body {
  --block-bg-color: var(--tg-theme-bg-color);
  --bg-color: #0f0f0f;
  --text-color: #fff;
  --page-hint-color: #9b9ba1;
  --hint-color: #64666d;
  --placeholder-color: #5d6163;
  --border-color: #fff;
}
body.order-mode {
  background-color: var(--bg-color);
}

a {
  color: inherit;
  text-decoration: none;
}

.text-center {
  text-align: center;
}
.top-bar {
  padding: 15px;
}
.loader {
  padding: 15px;
}
.circle-btn {
  background-color: var(--block-bg-color);
  border: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54px;
  border-radius: 64px;
  min-width: 54px;
  font-size: 30px;
}
.container {
  max-width: 448px;
  margin: 0 auto;
}

.product-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px;
}
.product-item {
  padding: 5px;
  flex-basis: 50%;
  min-width: 0;
  flex-grow: 0;

}
.product-item-card {
  display: block;
  background-color: rgb(255, 177, 32);
  border-radius: 15px;
  text-align: center;
  overflow: hidden;
}
.product-item-img {
  padding: 30px 10px 0 10px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.product-item-text {
  padding: 15px;
  padding-top: 5px;
  text-align: left;
  color: #fff;
  font-weight: 600;
}
.product-item-footer {
  text-transform: uppercase;
}
.product-item-line {
  border-top: 2px solid #fff;
  margin: 0 15px;
  opacity: .5;
} 
.product-item-price-info {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.menu__volumes-icon {
  height: 92px;
  width: 92px;
}
.product-detail-card {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 15px;
}
.product-detail-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product-detail-card-content > div { 
  padding: 20px 20px;
  font-size: 2rem;
}
.product-detail-price {
  font-weight: bold;
  color: orange;
  min-width: 120px;
  transition: filter var(--animation);
}

.product-detail-volumes {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.product-volume-item {
  padding: 5px;
  flex-basis: 90px;
  min-width: 0;
  flex-grow: 0;
  text-align: center;
  opacity: .5;
  transition: all ease-in-out .1s;
}
.product-detail-volume-price {
  font-weight: 600;
  font-size: 1.2rem;
  padding: 5px 0;
  margin-top: 5px;
  opacity: .7;
  
}
.volume-circle {
  border: 1px solid var(--border-color);
  height: 80px;
  width: 80px;
  border-radius: 80px;
  display: block;
  background: url(/volumes/Cup_200.svg) no-repeat center;
  background-size: contain;
  background-size: 40%;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  transition: filter var(--animation); 
}
.product-detail-counts-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  font-size: 18px;
}
.product-detail-counts {
  font-size: 18px;
  text-align: center;
  max-width: 45px;
  padding: 0 15px;
}
.product-volume-item--active {
  opacity: 1;
 }
.volume-circle-200 {background-image: url(/volumes/Cup_200.svg);}
.volume-circle-300 {background-image: url(/volumes/Cup_300.svg);}
.volume-circle-400 {background-image: url(/volumes/Cup_400.svg);}
.volume-circle-600 {background-image: url(/volumes/Cup_600.svg);}

@media (max-width: 440px) { 
  .product-detail {
    display: block;
  }
  .product-item {
    padding: 5px;
    flex-basis: 50%;
  }
  .menu__volumes-icon {
    height: 72px;
    width: 72px;
  }
  .volume-circle {
    height: 50px;
    width: 50px;
  }
  .product-volume-item {
    flex-basis: 25%;
  }
}